#screenshot-canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	display: none;
}

#draw-tools-block {
	width: 56px;	
	padding-bottom: 30px;
	background-color: #fff;
	position: absolute;
	top: 60px;
	left: 20px;
	text-align: center;
	border:1px solid #ccc;
	box-shadow:3px 3px 3px 0px #fff; 	
	z-index: 99;
}

.draw-panel-title {
	height:30px;
	width:100%;
	line-height:30px;
	vertical-align:middle;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	cursor: move;
}

.draw-tool-ico {
	width: 20px;
	height: 20px;
	color: #000;
	text-decoration: none;	
	border: 1px solid #999;
	border-radius:4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	cursor: pointer;
	padding: 5px; 
	display: block;
}

#text-input {
	position: absolute;
	border: 2px dashed #000;
	outline: 0;
	overflow: hidden;
	white-space: nowrap;
	font-family: "arial";
	display: none;
}

#draw-colors-pallet {
	background-color: #fff;
	padding: 5px;
	display: none;
}

.pallet-colors {
	width: 15px;
	height: 15px;
	float: left;
	margin: 1px;
	border: 1px solid #CCC;
	border-radius:4px;
	cursor: pointer;
	display: inline-block;
}

.active-color {
	border-color: #000!important;	
}

canvas.marker {
	cursor: crosshair;
}

canvas.text {
	cursor: crosshair!important;
}

.hide {
	display: none;
}